/* Layout base */
body {
  font-family: Arial, sans-serif;
  background-color: #141C5C;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

/* Titolo */
h2 {
  font-size: 28px;
  color: #FF8800;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}

/* Form e contenitore */
form {
  background-color: #ffffff;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 500px;
}

/* Fieldset e legenda */
fieldset {
  border: 2px solid rgb(255, 100, 64);
  border-radius: 8px;
  padding: 20px;
}

legend {
  font-weight: bold;
  font-size: 16px;
  padding: 0 10px;
  color: rgb(255, 100, 64);;
}

/* Div contenitore interno */
form div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Etichette */
label {
  font-size: 16px;
  font-weight: bold;
  color: #141C5C;
  margin-bottom: 6px;
  text-align: center;
}

/* Input */
input[type="text"] {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #141C5C;
  border-radius: 6px;
  margin-bottom: 8px;
  box-sizing: border-box;
}

input[type="text"]:focus {
  border-color: #007bff;
  background-color: #fff;
  outline: none;
}

/* Messaggio errore */
span[id^="error"] {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
  display: block;
}

/* Pulsanti */
input[type="submit"],
input[type="reset"] {
  background-color: white;
  color: #141C5C;
  padding: 10px 20px;
  font-size: 16px;
  border:  2px solid #141C5C;
  border-radius: 6px;
  cursor: pointer;
  margin: 10px 5px 0 5px;
  width: 40%;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #FF8800;
  border: 2px solid #FF8800;
  color: white; 
}

/* Responsive */
@media (max-width: 600px) {
  input[type="text"] {
    width: 100%;
  }

  input[type="submit"],
  input[type="reset"] {
    width: 100%;
    margin: 8px 0;
  }
}
