body {
  font-family: Arial, sans-serif;
  background-color: #141C5C;
  color: #333;
  margin: 0;
  padding: 0;
}

/* Contenitore principale */
main {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

.error {
	color: red;
}

/* Titolo pagina */
h2 {
  text-align: center;
  color: #141C5C;
  margin-bottom: 30px;
  font-size: 32px;
}

/* Griglia prodotti */
.products-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  padding: 1rem;
}

/* Card prodotto */
.product-card {
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  background-color: #fff;
}

.product-card:hover {
  transform: scale(1.03);
}

/* Immagine prodotto */
.product-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
  cursor: pointer;
}

/* Informazioni prodotto */
.product-info {
  padding: 16px;
}

.product-info h3 {
  font-size: 20px;
  color: #141C5C;
  margin-bottom: 10px;
}

.product-info p {
  font-size: 16px;
  color: #333;
  margin-bottom: 8px;
}

/* Responsive media query */
@media (max-width: 768px) {
  main {
    margin: 20px;
    padding: 15px;
  }

  h2 {
    font-size: 26px;
  }

  .product-info h3 {
    font-size: 18px;
  }

  .product-info p {
    font-size: 14px;
  }
}
