/* Layout principale */
.page-layout {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 40px 20px;
}

/* Sidebar a sinistra */
.sidebar-filter {
  flex-shrink: 0;
  width: 250px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 12px rgba(0,0,0,0.15);
  height: fit-content;
}

.sidebar-filter h3 {
  color: #141C5C;
  margin-bottom: 1rem;
}

.sidebar-filter form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidebar-filter input[type="range"] {
  width: 100%;
}

.sidebar-filter button {
  padding: 8px;
  background-color: #141C5C;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.sidebar-filter button:hover {
 background-color: #FF8800;
  border: 0 solid #FF8800;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

input[type="range"] {
  width: 100%;
  max-width: 300px;
}

/* Container generale */
.discounts-container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0,0,0,0.15);
}

/* Titolo */
.discounts-container h2 {
  text-align: center;
  color: #141C5C;
  font-size: 32px;
  margin-bottom: 30px;
}

/* Errore */
.error {
  	color: red;
}

/* Griglia prodotti */
.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
}

/* Card singolo prodotto */
.product-card {
  background-color: #f9f9f9;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  text-align: center;
  transition: transform 0.2s;
}

.product-card:hover {
  transform: translateY(-5px);
}

/* Immagine prodotto */
.product-card img {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: contain;
  margin-bottom: 10px;
}

/* Nome prodotto */
.product-card h3 {
  font-size: 20px;
  margin-bottom: 8px;
  color: #141C5C;
}

/* Prezzi */
.price {
  margin: 10px 0;
}

.discounted-price {
  color: red;
  font-weight: bold;
  font-size: 18px;
}

.original-price {
  text-decoration: line-through;
  color: gray;
  margin-left: 10px;
  font-size: 16px;
}

/* Info sconto */
.discount-info {
  color: #141C5C;
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
}

/* Responsive */
@media (max-width: 600px) {
  .product-card h3 {
    font-size: 18px;
  }

  .discounted-price, .original-price {
    font-size: 16px;
  }

  .discount-info {
    font-size: 12px;
  }
  
  .page-layout {
    flex-direction: column;
    padding: 20px;
    gap: 20px;
  }
  
}
