body {
  background-color: #141C5C;
  font-family: Arial, sans-serif;
  color: #333;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* Titolo */
h2 {
  color: #FF8800;
  text-align: center;
  margin-bottom: 30px;
}

/* Contenitore per ogni ordine */
#order-box {
  background-color: white;
  padding: 20px 30px;
  margin: 15px 0;
  border-radius: 8px;
  width: 90%;
  max-width: 800px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.15);
}

#order-box img {
  width: 120px;
  height: auto;
  border-radius: 6px;
  display: block;
  margin-bottom: 15px;
}

#order-box p {
  margin: 6px 0;
  font-size: 16px;
  color:  rgb(255, 100, 64);
  font-weight: bolder;
}

#order-box a {
  text-decoration: none;
  display: inline-block;
  margin-bottom: 10px;
}

#info-order p {
	color: black;
}

/* Responsive */
@media (max-width: 600px) {
  #order-box {
    padding: 15px 20px;
  }

  #order-box img {
    width: 100px;
  }

  #order-box p {
    font-size: 14px;
  }
}
