/* Layout base */
body {
  font-family: Arial, sans-serif;
  background-color: #141C5C;
  margin-right: 50px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

/* Titolo */
h2 {
  font-size: 32px;
  color: #FF8800;
  padding: 20px 20px;
}

.error {
  color: red;
  padding: 12px;
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
}

/* Form */
form {
  background-color: #ffffff;
  padding: 40px 50px;
  border-radius: 10px;
  box-shadow: 0px 4px 16px rgba(0,0,0,0.1);
  width: 90%;
  max-width: 500px;
}

/* Campo di input */
label {
  display: block;
  font-size: 18px;
  margin-bottom: 8px;
  color: #141C5C;
}

input[type="text"] {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #141C5C;
  border-radius: 6px;
  box-sizing: border-box;
  margin-bottom: 4px;
}

input[type="text"]:focus {
  border-color: #5FA5EA;
  outline: none;
  background-color: #ffffff;
}

/* Messaggio di errore */
span#errorID {
  color: red;
  font-size: 14px;
  display: block;
  margin-bottom: 10px;
}

/* Pulsanti */
#form-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

#form-buttons input[type="submit"],
#form-buttons input[type="reset"] {
  background-color: white;
  color: #1415C5;
  padding: 12px 24px;
  font-size: 16px;
  border: 2px solid #141C5C;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 40%;
}

#form-buttons input[type="submit"]:hover,
#form-buttons input[type="reset"]:hover {
  background-color: #FF8800;
  border: 2px solid #FF8800;
  color: white; 
}

/* Responsive */
@media (max-width: 500px) {
  #form-buttons {
    flex-direction: column;
    gap: 10px;
  }

  #form-buttons input {
    width: 100%;
  }
}
