/* Sfondo generale */
body {
  font-family: Arial, sans-serif;
  background-color: #141C5C;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Contenitore utente */
.container {
  background-color: #fff;
  color: #141C5C;
  padding: 40px 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
  text-align: center;
  max-width: 600px;
  width: 90%;
}

/* Immagine utente */
.container img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}

/* Testo profilo */
.container p {
  font-size: 18px;
  margin: 12px 0;
  color: #141C5C;
}

/* Titolo pagina */
.container h1 {
  color: #333;
  margin-bottom: 20px;
}

.orders-button {
  margin-top: 15px;
  margin-bottom: 20px;
  background-color: #141C5C;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
}

.orders-button i {
  margin-right: 8px;
}

.orders-button:hover {
  background-color: #FF8800;
  border: 0 solid #FF8800;
  color: white;
}

.logout-button {
  background-color: #141C5C;
  color: #fff;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 6px;
  font-size: 16px;
  border: 2px solid #141C5C;
  transition: background-color 0.3s ease;
  cursor: pointer;
    }

.logout-button i {
  margin-right: 8px;
    }

.logout-button:hover {
  background-color: #FF8800;
  border: 2px solid #FF8800;
  color: white;
    }
    
button.dati {
  background-color: #141C5C;
  color: #fff;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 6px;
  font-size: 16px;
  border: 2px solid #141C5C;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

button.dati:hover {
  background-color: #FF8800;
  border: 2px solid #FF8800;
  color: white;
}

button.dati i {
	 margin-right: 8px;
}

/* Responsive */
@media (max-width: 600px) {
  .container {
    padding: 30px 20px;
    max-width: 95%;
    margin-top: 30px;
  }

  .container img {
    width: 120px;
    height: 120px;
    margin-bottom: 15px;
  }

  .container p {
    font-size: 16px;
    margin: 10px 0;
  }

  .container h1 {
    font-size: 26px;
    margin-bottom: 15px;
  }
}